UnfoldWidget > QFrame {
    background-color: white;
}

UnfoldWidget QGroupBox:title {
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}

#import_widget > QPushButton, #import_widget QGroupBox:title{
    background-color: #0a1128;
    color: white;
    border: none;
}

#preprocessing_widget > QPushButton, #preprocessing_widget QGroupBox:title {
    background-color: #001f54;
    color: white;
    border: none;
}

#algorithm_setup_widget > QPushButton, #algorithm_setup_widget QGroupBox:title{
    background-color: #034078;
    color: white;
    border: none;
}

#algorithm_run_widget > QPushButton, #algorithm_run_widget QGroupBox:title{
    background-color: #1282a2;
    color: black;
    border: none;
}

#results_widget > QPushButton, #results_widget QGroupBox:title{
    background-color: #5897ac;
    color: black;
    border: none;
}
