UnfoldWidget {
    border: none;
}

UnfoldWidget > QFrame {
    background-color: white;
}

UnfoldWidget QGroupBox:title {
    padding: 5px 5px 2px;
    border-radius: 5px;
}

#import_widget > QPushButton, #import_widget QGroupBox:title{
    background-color: #0A0908;
    color: white;
}

#preprocessing_widget > QPushButton, #preprocessing_widget QGroupBox:title {
    background-color: #22333B;
    color: white;
    border: none;
}

#algorithm_setup_widget > QPushButton, #algorithm_setup_widget QGroupBox:title{
    background-color: #5E503F;
    color: white;
    border: none;
}

#algorithm_run_widget > QPushButton, #algorithm_run_widget QGroupBox:title{
    background-color: #A9927D;
    color: white;
    border: none;
}

#results_widget > QPushButton, #results_widget QGroupBox:title{
    background-color: #F2F4F3;
    color: black;
    border: none;
}
